<html lang="en">
	<head>
		<%- include('partials/head') %>
		<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.2/dist/chart.min.js"></script>
	</head>
	<body>
		<header><%- include('partials/header'); %></header>
		<main class="container">
			<div class="row">
				<div class="col-md-12">
					<h1>Hello <%= user.username %></h1>
					<hr />
					<canvas id="perWeekday" height="120" class="mb-5"></canvas>
					<canvas id="perTag" height="120" class="mb-5"></canvas>
					<h1>line graph with increasing dates and + - counts</h1>
					<h1>
						Graph showing which + - are more common on certain days
					</h1>
					<script type="text/javascript">
						const weekdayCtx = document
							.getElementById("perWeekday")
							.getContext("2d");
						const perWeekdayChart = new Chart(weekdayCtx, <%- JSON.stringify(dashboardDataWeekdays) %>);
						const tagCtx = document
							.getElementById("perTag")
							.getContext("2d");
						const perTagChart = new Chart(tagCtx, <%- JSON.stringify(dashboardDataTags) %>);
					</script>
				</div>
			</div>
		</main>
	</body>
</html>
